<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bookings">
  <test thread-count="5" name="FlightHotelBookings">
    <classes>
      <class name="tests.HotelBookingTest"/>
      <class name="tests.FlightBookingTest"/>
      <class name="tests.SignInTest"/>
    </classes>
  </test> <!-- FlightHotelBookings -->
</suite> <!-- Bookings -->
